body{
    background-image: url("myback.png");
    background-position: fixed;
   
    background-size:cover ;
}
*{
    margin: 0;
}
.navigation{
    border-style:none;
    float: right;
    position: relative;
    padding: 20px;
    text-decoration: none;
    top: -50px;
    color: black;
}
.navigation:hover{
    background-color: lightgreen;
    border-radius: 10px;
    opacity: 20%;
}

.container1{
    background-color: lightseagreen;
    border-style: none;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
}
.title{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 40px;
}
.title::first-letter{
    font-size:50px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container2{
    width: 100%px;
    height: 300px;
    border: none;
    position: relative;
    top:800px;
    background-color:lightseagreen;
    opacity: 90%;
    
    
}
.box1{
    width: 200px;
    height: 200px;
    background-color:#7cf2de;
    position: relative;
    border-radius: 10px;
    left: 25%;
    top: 10px;
}
.box2{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: #7cf2de;
    position: absolute;
    left: 40%;
    top: 10px;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: #7cf2de;
    position:absolute;
    left: 55%;
    border-radius: 10px;
    top: 10px;
}
#five{
    color: black;
    position: relative;
    text-align: center;
    top: 40px;
}
#learn1{
    background-color: lightpink;
    height: 50px;
    width: 100px;
    position: absolute;
    left: 50px;
    top: 100px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
}
#learn2{
background-color: lightpink;
    height: 50px;
    width: 100px;
    position: absolute;
    left: 50px;
    top: 100px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
}
#onehundred{
    color: black;
    position: relative;
    text-align: center;
    top: 40px;
}
#learn3{
    background-color: lightpink;
    height: 50px;
    width: 100px;
    position: absolute;
    left: 50px;
    top: 100px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
}
#twohundred{
    color: black;
    position: relative;
    text-align: center;
    top: 40px;
}
.platforms{
    position: absolute;
    top: 220px;
    left: 550px;
    
}
.fa-youtube{
    padding: 20px;
    background-color: red;
    
}
.fa-twitter{
    padding: 20px;
    background-color: cyan;
    
}
.fa-facebook-f{
    padding: 20px;
    background-color: blue;
    
}
.fa-square-instagram{
    padding: 20px;
    background-color: #d64b4b;
    
}
.tagline{
    position: relative;
    top:600px;
    left: 500px;
    width: 300px;
}












 
    
    



   
